body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    padding-left: 30px;
    margin-bottom: 150px;
}

.up-baenner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.name-color{
    color: brown;
}

.half-width{
width: 50%;

}
.half-width img{
    width: 80%;
}
.link-prof{
   text-decoration: none;
   background-image: linear-gradient(rgb(246, 51, 2) , rgb(100, 32, 5) );
   color: white;
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 10px;
}
.my-goal{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 10px;
    box-shadow: 10px 10px 20px black;
}
#full-stack{
    border-left: 5px solid;
    border-image:linear-gradient(gray, brown) ;
    border-image-slice: 1;

}
#baby-web{
        border-left: 5px solid;
        border-image: linear-gradient(blue, brown);
        border-image-slice: 1;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}